@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Playfair Display', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 45px;

  background: -webkit-linear-gradient(rgb(213, 99, 248), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
  padding: 15px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  color: purple;
  cursor: pointer;
  flex: 0.9;
  margin: 3px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.box {
  background-color: hsl(299, 83%, 24%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px, 4px, 5px rgba(0, 0, 0, 0.3);
  /* ,ake the box way off the screen default is 0*/
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

/* even ones locate left side */
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
  color: #fff;
  font-style: oblique;
}

.other-content {
  height: 30vh;
}
